/* ===== Logo ===== */
.md-header__button.md-logo img {
    height: 54px;
}

/* ===== Branding Globo Pharma ===== */

/* Header principal */
.md-header {
  /*  background-color: #EC5D42 !important;*/

  background-color: #FA4516 !important;

}

/* Barra de navegação */
.md-tabs {
   /* background-color: #EC5D42 !important;*/
  background-color: #FA4516 !important;

}

/* Variáveis globais do tema */
:root {
    --md-primary-fg-color: #EC5D42;
    --md-primary-fg-color--light: #f07a62;
    --md-primary-fg-color--dark: #c94a33;
    --md-accent-fg-color: #EC5D42;
}
